body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.form-container {
    max-width: 450px;
    margin: 50px auto;
    /* padding: 20px; */
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    margin-top: 8%;
}

label {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.submit-btn {
    padding: 10px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 2%;
}

/* .submit-btn:hover { */
/* background-color: #ff4c4c; */
/* } */

.login-link {
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    color: #007BFF;
    text-decoration: none;
}

/* .login-link a:hover { */
/* text-decoration: underline; */
/* } */